@using Dominio; 

<h1>SECCIÓN DE CARGA DE SALDO</h1>


@if (ViewBag.Mensaje != null)
{
	<h4 class="alert-success">@ViewBag.Mensaje</h4>
}

@if(ViewBag.Error != null)
{
	<h4 class="alert-danger">@ViewBag.Error</h4>
}

<form method="post">
	<input type="text" placeholder="Ingrese el saldo que desea cargar..." name="saldo"/>
	<input type="submit" value="PROCESAR"/>
</form>
