@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex justify-content-center align-content-center"
<h1>El registro ha fallado</h1>
<h2>Corrabore sus datos y si ya no tiene un usuario creado</h2>
</div>