@using Dominio; 

<div>
	@if (ViewBag.Mensaje != null)
	{
		<h4 class="alert-info">@ViewBag.Mensaje</h4>
	}
</div>

<form method="post">
	<input type="email" name="email" placeholder="Ingrese su email..."/><br>
	<input type ="password" name="contrasenia" placeholder="Ingrese su contraseña..."/> <br>
	<button type="submit">PROCESAR</button>
</form>

