/*ANIMATIONS*/
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;

    }
}   

/*REGISTER*/
.inputText {
    border-radius: 10px;
}
/*LOGIN*/
.cardTitle {
}
.checkBoxLogin {
    cursor: pointer;
}

.iconsContainer img:hover {
    max-height: 30px;
}

.iconsContainer img {
    max-height: 25px;
    transition: all ease .2s;
}
.iconsContainer {
    height: 80px;

}

.contenedor {
    max-width: 1024px;
    text-align: center;
    width: 30%;
    border-radius: 20px;
    animation: slideIn .8s ease-out;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    overflow: hidden;
    user-select: none;
}

#homeClientSection {
    border-radius: 20px;
    animation: slideIn .8s ease-out;
    overflow-y: scroll;
    height: 75vh;
    position: relative;
}

#homeClientTable {
    border-spacing: 10px;
    border-collapse: separate;
    vertical-align: middle;
}

#homeClientTable thead {
    position: sticky;
    top: 0;
    background: white; /* Asegúrate de usar un fondo para el encabezado */
    z-index: 10;
}

    #homeClientTable th {
        background-color: #cad3e3 !important;
        border-radius: 15px;
        font-size: 15px;
        vertical-align: middle;
        border: none;
    }

    #homeClientTable td {
        border-radius: 15px;
        font-size: 15px;
        vertical-align: middle;
    }

#homeClientSection img {

    background-color: transparent;
    transition: all ease .4s;
    cursor: pointer;
 
}

    #homeClientSection img:hover {
        transform: scale(1.2);
        background-color: #92c8aa;
        border-radius: 30%;
    }


#homeClientTable button {
    background-color: #F2F2F2;
    border: none;
    background-color: transparent;
}
#homeClientTable td p {

    margin-bottom: 0;
}

/*HOME ADMIN*/

#homeAdmSection {
    border-radius: 20px;
    animation: slideIn .8s ease-out;
    overflow-y: scroll;
    height: 75vh;
    position: relative;
}

#homeAdmTable {
    border-spacing: 10px;
    border-collapse: separate;
    vertical-align: middle;
}

    #homeAdmTable thead {
        position: sticky;
        top: 0;
        background: white; /* Asegúrate de usar un fondo para el encabezado */
        z-index: 10;
    }

    #homeAdmTable th {
        background-color: #cad3e3 !important;
        border-radius: 15px;
        font-size: 15px;
        vertical-align: middle;
        border: none;
    }

    #homeAdmTable td {
        border-radius: 15px;
        font-size: 15px;
        vertical-align: middle;
    }
    #homeAdmTable td p{
      text-decoration: underline;
      margin-bottom: 0;
    }
#homeAdmSection img {
    border-radius: 50% !important;
    background-color: transparent;
    transition: all ease .4s;
    cursor: pointer;
}

    #homeAdmSection img:hover {
        transform: scale(1.2);
        background-color: #92c8aa;
        border-radius: 30%;
    }


    #homeAdmSection img:hover {
        transform: scale(1.2);
    }


#homeAdmTable button {
    background-color: #F2F2F2;
    border: none;
    background-color: transparent;
}

/*Navbar*/

.userDataContainer {
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 2rem;
    margin-left:20%;
    text-decoration:underline;
    font-weight: bold;
}

/*Operation notification*/

.operationNotificationContainer {
    position: absolute;
    top: 45px; /* Ajusta según lo necesites */
    left: 30%;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:100;
    animation: slideIn .8s ease-out;
    display: block;
    border-radius: 20px;
}
    .operationNotificationContainer p {
        font-weight: bold;
        text-decoration: underline;

    }

.fade-out {
    animation: slideOut .8s ease-out;
}

.invisible {
    visibility: hidden;
    display: none;
}

/*operationsResultsSection*/

#operationsResultsSection {
    border-radius: 20px;
    animation: slideIn .8s ease-out;
    height: 75vh;
    width: 80vw;
    position: relative;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*loadMoneySection*/

#loadMoneySection {
    border-radius: 20px;
    animation: slideIn .8s ease-out;
    height: 75vh;
    width: 80vw;
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

    #loadMoneySection button {
        border-radius: 20px;
        background-color: #cad3e3;
        color: #3b82f6;
        border: none;
        cursor: pointer;
        width: 100px;
        height: 45px;
        transition: 0.3s;
    }
    #loadMoneySection input {
        border-radius: 20px;
        outline: none;
        font-size: 15px;
        padding: 8px;
        transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s;
        background-color: #fff;
        color: #333;
        box-sizing: border-box;
        border: 2px solid #cad3e3;
    }
        #loadMoneySection input:hover {
            transform: scale(1.1);
            border: 2px solid 0 15px rgba(52, 152, 219, 0.5);
        }

    #loadMoneySection:focus {
        border-color: #2980b9;
        box-shadow: 0 0 15px rgba(52, 152, 219, 0.5);
        transform: scale(1.02);
    }

#loadMoneySection button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}

.loadMoneyContainer {
    display: flex; 
    align-items: center;
    justify-content: center; 
    gap: 1rem;

}

.imgContainer {
    width: 200px;
    height: 200px;
    object-fit: contain !important;
}
    .imgContainer img {
        width: 200px;
        height: 200px;
        object-fit: contain !important;
    }