@using Dominio;
@model Cliente;

<h1> FORMULARIO DE REGISTRO </h1>

@if (ViewBag.Error != null)
{
	<h4 class="alert-danger">@ViewBag.Error</h4>
}

@if (ViewBag.Mensaje != null)
{
	<h4 class="alert-success">@ViewBag.Mensaje</h4>
}

@{
	string nombre = "";
	string apellido = "";
	string email = "";
	string contrasenia = "";
}

<form method="post">
		<input type="text" placeholder="Ingrese su nombre" name="nombre" required/> <br />
		<input type="text" placeholder="Ingrese su apellido" name="apellido" required/> <br />
		<input type="email" placeholder="Ingrese su email" name="email" required/><br />
		<input type="password" placeholder="Ingrese su contraseña" name="contrasenia" required/> <br />
		<input type="submit" value="Procesar" />
</form>